

.app{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100vh;
    

}

.app-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: #eee;


}


